.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $s-size;
    //media creates the styles for when the app is in full screen
    //(when the minimum window width is as big as the desktop-breakpoint val
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
        margin-right: $m-size;
        margin: 0 $s-size 0 0;
    }
}